snippet xhead
    #!/usr/bin/env python3

snippet xxhead
    #!/usr/bin/env python3
    #
    # @file ${1:`vim_snippets#Filename('$1.py', 'foo.py')`}
    # @brief ${2}
    # @author QRS
    # @version 1.0
    # @date `system('date +"%Y-%m-%d %H:%M"')`
